html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
/* Fjerner scrollbars for body */
.body::-webkit-scrollbar{
    display: none; 
}


.hoved {
    width: 100%;
    height: auto;
    background-color: #fff5e3;
    display: grid;
    gap: 5px;
    box-sizing: border-box;
    padding: 5%;

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
    'to to to to to to to to to to to to'
    
    'd1 d1 d1 d1 d1 d1 d1 d1 d1 d1 d1 d1'
    'd1 d1 d1 d1 d1 d1 d1 d1 d1 d1 d1 d1'
    'd1 d1 d1 d1 d1 d1 d1 d1 d1 d1 d1 d1'

    'd2 d2 d2 d2 d2 d2 d2 d2 d2 d2 d2 d2'
    'd2 d2 d2 d2 d2 d2 d2 d2 d2 d2 d2 d2'
    'd2 d2 d2 d2 d2 d2 d2 d2 d2 d2 d2 d2'

    'd3 d3 d3 d3 d3 d3 d3 d3 d3 d3 d3 d3'
    'd3 d3 d3 d3 d3 d3 d3 d3 d3 d3 d3 d3'
    'd3 d3 d3 d3 d3 d3 d3 d3 d3 d3 d3 d3';
}
#topp {grid-area: to;}
#del1 {grid-area: d1;}
#del2 {grid-area: d2;}
#del3 {grid-area: d3;}

#topp {
    display: flex;
    justify-content: space-between;
}

/* Fjerner scrollbars for info-delene */
.info::-webkit-scrollbar{
    display: none; 
}
.info {
    display: flex;
    height: auto;
    width: 100%;
    overflow-x: scroll;
}
.infoBoks {
    margin: 2px;
    padding: 1px;
    border: 2px solid #6f784c;
    border-radius: 10px;

    flex-basis: 80px;
	flex-grow: 0;
	flex-shrink: 0;

    text-align: center;
}

img {
    height: 100px;
}
h1 {
    margin: 5px;
    padding: 5px;
}