@font-face {
    font-family: josefinsans;
    src: url(../fonter/JosefinSans-Light.ttf);
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    font-family:josefinsans;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*
    /\
    GENERELT
--------------------------------------------------------------------------------------------
    MENY
    \/
*/

.toppMeny {
    width: 100%;
    height: 50px;
    background-color: #442222;
    display: flex;
    justify-content: space-between;
}

#brackets {
    width: 20px;
}

.toppMeny div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#hjem a:hover {
    border: 2px solid #EFF1F3;
    border-radius: 2px;
    margin: 3px;
}
#hjem a {
    text-decoration: none;
    color: #EFF1F3;
    padding: 2px;
    margin: 5px;
}
#sidelink a:hover {
    border: 2px solid #EFF1F3;
    border-radius: 2px;
    margin: 3px;
}
#sidelink a {
    text-decoration: none;
    color: #EFF1F3;
    padding: 2px;
    margin: 5px;
}

/* her ligger endringene når skjermstørrelsen blir under 700px */
@media screen and (max-width: 700px){
    #sidenavn {
        display: none;
    }
    #brackets {
        width: 40px;
    }
}

/*
    /\
    MENY
--------------------------------------------------------------------------------------------
    HOVED
    \/
*/

.hoved {
    margin: 5%;
}

/*
    /\
    MENY
--------------------------------------------------------------------------------------------
    HOVED
    \/
*/

.bunn {
    background-color: #224444;
    color: #EFF1F3;
    padding: 10px;
}
.bunn a {
    color: #EFF1F3;
}